<!doctype html>
<html>
  <head>
    <title>My Site</title>
  </head>
  <body>
    <h2>Here is the first basic site</h2>
     <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/portfolio.html">Portfolio</li>
      <li><a href="/contact.html">Contact</li>
     </ul>
     <%= yield %>
    </body>
</html>
