---
title: "Certificates"
---

<div id="certificates">

  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about"></span>
        <h3>Academic Certificates</h3>
        <h4>Journey full of good time, learning and bundle of exceptional teachers be it in academic or life
          science </h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="pretty">

        <div class="element col-sm-3">
          <a href="/about.html" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr ">
            <h3><a href="#">Oxfod-Leadership</a></h3>
          </div>
        </div>


        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">HIBA-MBA</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">DAUPHINE-MBA</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Damascus Uni-BSc</a></h3>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about"></span>
        <h3>Training Certificates</h3>
        <h4>Some concluded in hours, others in months... physical, online ...all left stamp on my work style</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="pretty">

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="images/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="#">Trainings - handful of</a></h3>
          </div>
        </div>


      </div>
    </div>
  </div>


</div>