---
title: "Certificates"
---

<div id="certificates">

  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about"></span>
        <h3>Academic Certificates</h3>
        <h4>Journey full of good time, learning and bundle of exceptional teachers be it in academic or life
          science </h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="pretty">

        <div class="element col-sm-3">
          <a href="/resources/Acadimics.pdf"  target="_blank" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/picAbout/oxf.png" alt="Oxford"/>
          </a>
          <div class="view project_descr ">
            <h3><a href="/resources/Acadimics.pdf" target="_blank">Oxfod-Leadership</a></h3>
          </div>
        </div>


        <div class="element col-sm-3">
          <a href="/resources/Acadimics.pdf"  target="_blank" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/picAbout/Hib.png" alt="HIBA"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="/resources/Acadimics.pdf" target="_blank">HIBA-MBA</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="/resources/Acadimics.pdf"  target="_blank" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/picAbout/dauf.png" alt="DAUPHINE PARIS"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="/resources/Acadimics.pdf" target="_blank">DAUPHINE-MBA</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a href="/resources/Acadimics.pdf"  target="_blank" rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="/images/picAbout/bsc.png" alt="Damascus University"/>
          </a>
          <div class="view project_descr center">
            <h3><a href="/resources/Acadimics.pdf" target="_blank">Damascus Uni-BSc</a></h3>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about"></span>
        <h3>Training Certificates</h3>
        <h4>Some concluded in hours, others in months... physical, online ...all left stamp on my work style</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="pretty">

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">Negotiation & Procurement </a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">Key Account Management</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">KAM-Commercial Practice</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">KAM-Environment</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">KAM-Competitor Intelligence</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">KAM-Processing Systems</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">KAM-Retail Management</a></h3>
          </div>
        </div>

        <div class="element col-sm-3">
          <a><img src="/images/picAbout/line.gif"/></a>
          <div class="view project_descr center">
            <h3><a href="/resources/Trainings.pdf" target="_blank">KAM- Value Selling</a></h3>
          </div>
        </div>


      </div>
    </div>
  </div>


</div>