---
title: Portfolio
---

<div id="portfolio">

  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about"></span>
        <h3>Coding Portfolio Projects</h3>
        <h4>Journey initiated by curiosity, turned into passion... and here is my steps from crawling to flying!</h4>
      </div>
    </div>
  </div>




  <div class="container">
    <div class="row about">

      <div class="col-md-6">
        <div class="about1">
          <h3><b><font color="#1FCCF5">BMI, Basic JS,HTML,CSS </font></b></h3>
          <p>First assignemnt in coding! part of <a href="http://craftacademy.se/" target="_blank">CraftAcademy.se</a> program to develop coding skills in 12 weeks, at a time it feel impossible to develop JS site to calculate BMI index.... gradually can only smile about those days !.</p>
          <div class="view project_descr ">
            <ul>
              <li><a href="https://github.com/Mazen26/Mazen26.github.io/tree/master/bmi" target="_blank"><i class="fa fa-github"> </i></a></li>
              <li><a href="http://mazen26.github.io/bmi/" target="_blank"><i class="fa fa-arrow-right">BMI </i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about2">
          <h3><b><font color="#1FCCF5">SlowFood, Sinatra, DataMapper, Ruby .</font></b></h3>
         <p>My first date with database managment, develpoing pure Ruby backend application with ability to do full CRUD, developed used BDD concept with Cucumber feature testing an Rspec for unit test, deployed via Heroku ... lots of sweat & fun.</p>
          <div class="view project_descr ">
            <ul>
              <li><a href="https://github.com/Mazen26/slow_food_sinatra" target="_blank"><i class="fa fa-github"> </i></a></li>
              <li><a href="https://mazen-slow-food.herokuapp.com/" target="_blank"><i class="fa fa-arrow-right">SlowFood </i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about1">
          <h3><b><font color="#1FCCF5">Site_1, Static website using Middleman </font></b></h3>
          <p>Styling, partials and deploying Middleman helper methods to get a full static website up and running, deployed using Github ... and you are on it rightnow! .</p>
          <div class="view project_descr ">
            <ul>
              <li><a href="https://github.com/Mazen26/site_1" target="_blank"><i class="fa fa-github"> </i></a></li>
              <li><a href="http://mazen26.github.io/site_1/"><i class="fa fa-arrow-right">Mazen </i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about2">
          <h3><b><font color="#1FCCF5">App, Next big thing  .</font></b></h3>
          <p>Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor, ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, ac luctus.</p>
          <div class="view project_descr ">
            <ul>
              <li><a href="#"><i class="fa fa-github"> </i></a></li>
              <li><a href="#"><i class="fa fa-arrow-right">BMI </i></a></li>
            </ul>
          </div>        </div>
      </div>

    </div>
  </div>

</div>