---
title: Portfolio
---

<div id="portfolio">

  <div class="container">
    <div class="row">
      <div class="col-md-12 wwa">
        <span name="about"></span>
        <h3>Coding Portfolio Projects</h3>
        <h4>Journey initiated by curiosity, turned into passion... and here is my steps from crawling to fly!</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="pretty">

        <div class="element col-sm-3">
          <a rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr ">
            <h3><a align="left">BMI, simple JS application for BMI deployed using Github</a></h3>
            <ul>
              <li><a href="#"><i class="fa fa-github"> </i></a></li>
              <li><a href="#"><i class="fa fa-arrow-right">BMI </i></a></li>
            </ul>
          </div>
        </div>

        <div class="element col-sm-3">
          <a rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr ">
            <h3><a align="left">SlowFood,  Sinatra / DataMapper application to order food from restaurant, deployed using Heroku</a></h3>
            <ul>
              <li><a href="#"><i class="fa fa-github"> </i></a></li>
              <li><a href="#"><i class="fa fa-arrow-right">SlowFood </i></a></li>
            </ul>
          </div>
        </div>

        <div class="element col-sm-3">
          <a rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr ">
            <h3><a align="left">Site_1, Personal static website buit with Middleman, CSS,  deployed via GitHub </a></h3>
            <ul>
              <li><a href="#"><i class="fa fa-github"> </i></a></li>
              <li><a href="#"><i class="fa fa-arrow-right">Mazen </i></a></li>
            </ul>
          </div>
        </div>

        <div class="element col-sm-3">
          <a rel="prettyPhoto[gallery2]">
            <img class="img-responsive picsGall" src="http://placehold.it/230x143" alt="pic1 Gallery"/>
          </a>
          <div class="view project_descr ">
            <h3><a align="left">Next big thing </a></h3>
            <ul>
              <li><a href="#"><i class="fa fa-github"> </i></a></li>
              <li><a href="#"><i class="fa fa-arrow-right">Next </i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>